# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/

# Logs
logs/
*.log

# dotenv environment variables file
.env
.env.local
.env.*
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.swp

# System files
.DS_Store
Thumbs.db

# React testing outputs
coverage/

# Docker-related files
docker-compose.override.yml
*.dockerignore

# Mac system files
*.DS_Store

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Temporary or cache files
.cache/
*.tmp
.parcel-cache/

# Frameworks
.next/
.out/
storybook-static/
